body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('pexels-souvenirpixels-1542495.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

nav {
    background-color: #333;
    color: #fff;
    padding: 1em;
    text-align: center;
}

.heading {
    font-size: 24px;
    font-weight: bold;
}

.sideMenuButton {
    cursor: pointer;
    float: right;
    font-size: 24px;
    margin-right: 20px;
}

.navbar {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #333;
    padding: 1em;
    border: 1px solid #444;
}

.navbar.show {
    display: block;
}

.navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin-bottom: 10px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
}

.content {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content h1 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content p {
    font-size: 18px;
    margin-bottom: 40px;
}